@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,100&display=swap");

:root {
  --bgc-color: #000;
  --primary-text: white;

  /* gray */
  --gray-color: rgb(96, 95, 95);
  --button-color1: rgba(0, 0, 255, 0.52);
  --hover-blue: rgba(59, 59, 112, 0.966);
  --hover-gray: rgb(138, 137, 137);
  --project-underline: #0000ff;
  --design-color: rgba(33, 32, 128, 0.733);
  --project-bgc: rgb(21, 21, 93);
  --white-text: white;
  --black-text: black;
  --popular-color: rgb(110, 185, 187);
  --card-color: rgb(76, 76, 75);
  --bgc-shadow: rgba(217, 204, 204, 0.16) 1px -3px 6px,
    rgba(218, 199, 199, 0.23) 1px 3px 6px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.light-mode {
  --bgc-color: white;
  --primary-text: black;
  --gray-color: rgb(68, 68, 68);
  --button-color1: rgba(5, 5, 247, 0.966);
  --project-underline: rgb(8, 8, 14);
  --shadow-1: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --project-bgc: rgb(198, 198, 249);
  --white-text: black;
  --black-text: white;
  --card-color: white;
  --bgc-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.current {
  border-bottom: 2px solid var(--white-text);
}

html {
  transition: all 1sec;
  scroll-behavior: smooth;
}

body {
  color: var(--primary-text);
  background-color: var(--bgc-color);
  font-family: "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif, "Calibri", "Trebuchet MS", sans-serif;
  transition: all 0.5s ease-in;
  /* height: 2000px; */
}

.about {
  margin: 40px 0;
  border-bottom: 3px solid var(--project-underline);
  width: 30%;
}

.about-head {
  border-left: 2px solid var(--project-underline);
  padding-left: 2px;
}

p {
  font-size: 0.95rem;
  line-height: 1.8;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
}

/* navigation */

.border-different {
  border: 2px solid var(--white-text);
  padding: 10px;
}

.navbar {
  /* min-height: 70px; */
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  align-items: center;
  width: 60%;
  flex-direction: column;

  transition: 0.3s;
  background-color: var(--black-text);
}

.nav-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  transition: 0.7s ease;
  margin: 0;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: dodgerblue;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-text);
}

.hamburger {
  display: block;
  position: fixed;
  right: 50px;
  z-index: 2;
  border: 2px solid var(--white-text);
  /* background-color: var(--gray-color); */
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  /* top: 40px; */
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -100%;
  z-index: 2;
  top: 0px;
  bottom: 20%;
  background-color: var();
  border-bottom: 2px solid var(--white-text);
  border-right: 2px solid var(--white-text);
  gap: 0px;
  flex-direction: column;
}

.blog-menu {
  bottom: 60%;
}

li {
  list-style: none;
  margin: 40px 0;
  padding: 0px;
}
/* hero-section */
.intro {
  padding-top: 70px;
}

.title {
  margin-top: 55px;
}

.title-name {
  color: var(--gray-color);
  margin-top: 10px;
}

.butt-link {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  text-decoration: none;
}

.hire-me {
  box-sizing: border-box;
  color: white;
  margin: 7px 0px;
  background-color: var(--button-color1);
  font-size: 0.95rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: background-color 0.5s ease 0s;
  font-family: "Poppins", sans-serif;
}

.hire-me:hover {
  background-color: var(--hover-blue);
}

.bgc-butt:hover {
  background-color: var(--hover-gray);
}

.bgc-butt {
  background-color: var(--gray-color);
}

hr {
  background-color: var(--gray-color);
  height: 1px;
  width: 100%;
  /* margin-top: 40px; */
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.wrapper-color-switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 20px; */
  margin-left: 50px;
}

.color-switch {
  width: 3.1em;
  height: 1.6em;
  border-radius: 10em;
  background-color: var(--gray-color);
  border: 2px solid gray;
  position: absolute;
  cursor: pointer;
}

.color-switch-toggle {
  width: 1em;
  height: 1em;
  position: absolute;
  background-color: #fff;
  border-radius: 10em;
  top: 0.2em;
  left: 0.2em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.color-switch:before {
  content: "Dark Mode On";
  display: inline-block;
  position: absolute;
  width: 12em;
  /* left: 2em; */
  top: 1.7em;
}

#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(1.3em);
}

#input-color-switch:checked ~ .color-switch::before {
  content: "Light Mode On";
}

#input-color-switch {
  display: none;
}

/* Project */
/* .project-div {
  display: flex;
} */

.bawo {
  width: 100%;
  /* border-radius: 10px; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.project {
  border-bottom: 5px solid var(--project-underline);
  border-width: 3px;
  /* display: flex; */

  /* width: 30%; */
}

.project-img {
  width: 100%;
}

.languages {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 20px 0;
}

.pro {
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 3px;
}

.pro p {
  font-size: 0.7rem;
}

.icon {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;

  transition: all 0.5s ease-in;
}

.icon-1 {
  padding-right: 10px;
  font-size: 20px;
  transition: all;
}

.icon-2 {
  font-size: 20px;
  transition: all;
}

.icon-3,
.icon-4,
.icon-5 {
  width: 20px;
}

.icon-5 {
  width: 30px;
}

.icon-6 {
  width: 20px;
}

.icon-1:hover,
.icon-2:hover {
  color: var(--hover-gray);
}

.one {
  display: flex;
  gap: 50px;
  margin: 20px 0;
  align-items: center;
}

.technology {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white-text);
}

/* .icon:hover {
  color: white;
} */

.bgc-project {
  background-color: var(--project-bgc);
  margin-top: -7px;
  width: 100%;
  padding: 4%;
}

.spacing-solution {
  margin-top: 3.2em;
}

.spacing-solution-1 {
  margin-top: 1.3em;
}

.spacing-solution-2 {
  margin-top: 1.9em;
}

.design-market {
  color: #868e96;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 50px;
}

.card-container {
  padding: 20px;
}

.card-customer {
  padding: 40px 10px;
  /* border: 2px solid var(--design-color); */
  border: none;

  box-shadow: 0 3px 10px rgb(78 75 75 / 51%);
  margin: 30px 0px;
  /* margin-bottom: 10px; */
  /* padding: 0px 10px; */
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  /* align-items: center; */
  /* align-items: center; */
  width: 100%;
}

.services-icon {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular {
  background-color: var(--project-bgc);
}

.card-customer p,
.card-customer .most {
  letter-spacing: 2px;
  margin: 10px 0;
}

.most {
  font-style: italic;
  font-size: 0.7rem;
  color: var(--white-text);
  font-weight: bold;
}

.started {
  background-color: var(--design-color);
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  color: var(--white-text);
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}

.started:hover {
  background-color: rgb(124, 124, 143);
  color: var(--black-text);
}

footer {
  /* background-color:  rgb(96, 62, 10); */
  padding: 30px 0;
}

.footer-group {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icon-card {
  background-color: var(--gray-color);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
}

.section-blog {
  margin-top: 30px;
}

.section-blog p {
  color: var(--gray-color);
}

.section-blog h2 {
  /* text-decoration: underline; */
  color: var(--hover-blue);
}

.blog-ham {
  margin-right: 0;
}

.switch-blog {
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between; */
}

.blog-img {
  width: 100%;
}

.blog-img img {
  width: 100%;
}

.blog-img-2 {
  width: 100%;
  display: none;
}

.blog-img-2 img {
  width: 100%;
}

.blog-size {
  font-size: 1.4rem;
  /* margin-top: 20px; */
  font-size: 16px;
  cursor: pointer;
  padding: 20px 30px;
  /* border: 1px solid white; */
  border-radius: 50px;
}

/* .btn-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
} */

article h1 {
  font-size: 2rem;
  padding-top: 15px;
}

.editor-h1 {
  font-size: 1.2rem;
}

.card-blog img {
  /* height: 240px; */
  width: 100%;
  /* min-height: 200px; */
}

.image-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-blog {
  width: 100%;
  box-shadow: var(--bgc-shadow);
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid var(--gray-color); */
}

.card-blog-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5px;
}

.card-blog-container p {
  color: var(--gray-color);
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  background: var(--gray-color);
}

.section--more {
  color: #fff;
  background: #0e0f34;
  padding: 20px 0 40px 0;
}

.section-group code {
  padding: 20px;
  font-size: 1.2em;
}

.hljs {
  display: block;
  overflow-x: auto;

  color: #979db4;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.aos-card {
  /* width: 50%; */
  padding: 30px 0;
}

article li {
  padding-bottom: 3rem;
}

.blog-h1 {
}

.blog-article p {
  padding-bottom: 25px;
}

.blog-article h1 {
  font-size: 1.4rem;
}

i {
  color: var(--white-text);
  font-weight: 600;
}

.btn-button-arrow-link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.btn-button {
  padding: 7px 10px;
  cursor: pointer;
  /* font-weight: 800; */
  background-color: transparent;
  /* border: 1px solid var(--white-text); */
  color: var(--white-text);
  transition: all 0.3s ease-in-out;
  border: none;
  font-size: 20px;
  width: 90px;
}

.btn-button:hover {
  /* background-color: var(--hover-blue); */
  font-weight: bold;
  /* font-size: 16px; */
  transform: scale(1.2);
  width: 100px;
}

/* FORM */
.field {
  padding: 0.5rem;
  font-size: inherit;
  /* margin-left: 15px; */
  /* margin-right: 10px; */
  transition: all 0.3s ease-out;
  font-family: inherit;
  background-color: inherit;
  width: 100%;
  /* background-color: #fff; */
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-text);
}

.btn-form {
  padding: 0.5rem;
  font-size: 12px;
  width: 100%;
  background-color: var(--hover-blue);
  border: 1px solid var(--white-text);
  color: var(--primary-text);
  transition: all 0.5s ease-in;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.5s ease-in;
  border-radius: 7px;
}

.btn-form:hover {
  background-color: var(--design-color);
}

.program-used {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.program-used-space {
  padding: 10px 10px;
  margin: 10px 0;
  /* background-color: var(--popular-color); */
  border-radius: 6px;
  /* font-size: 10px; */
  text-transform: uppercase;
  /* color: var(--white-text); */
}

.book-main {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.bookmark__character {
  transition: all 0.2s ease-out;
}

.bookmark__character:hover {
  color: var(--gray-color);
}

.book-main__child {
  /* margin-bottom: 100px; */
  padding: 20px 0;
}

.main__child-title {
  color: var(--hover-blue);
  text-transform: uppercase;
}

.bar-tech {
  display: block;
  width: 30px;
  height: 2px;

  background-color: var(--white-text);
}

.tech-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-newsletter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
  /* justify-content: center; */
}

.form-newletter__wrapper {
  background: linear-gradient(
    0deg,
    var(--design-color) 0%,
    var(--bgc-color) 100%
  );
  padding: 20px;
}

.new-letter-bgc {
  background-color: var(--card-color);
  padding: 50px 25px;

  margin: 10px 0;
  border-radius: 20px;
}

.form-subtitle {
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 5px 5px; */
}

.form-subtitle__two {
  visibility: hidden;
  height: 0;
  display: none;
}

.form-newletter-text {
  font-size: 12px;
  /* color: #5e5ee3; */
}

.socail-hire {
  padding: 10px;
}
