.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 15px 0;
}

.my-3 {
  margin: 20px 0;
}

.my-4 {
  margin: 25px 0;
}

.my-3 {
  margin: 30px 0;
}

.my-4 {
  margin: 70px 0;
}

.card {
  box-shadow: var(--shadow-1);
  cursor: pointer;
  
  margin: 50px 0;
}

@media screen and (min-width: 870px) {
  .container {
    width: 60%;
  }

  .project-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-between; */
    gap: 30px;
  }

  .project-div-firstchild {
    padding-left: 20px;
  }

  .card {
    
    /* padding-right: 100px; */
    /* height: 300px; */
  }

  .card-container {
    display: flex;
    gap: 20px;
  }

  ul {
    display: flex;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .nav-link {
    padding-right: 10px;
    font-size: 1.5rem;
  }

  .nav-link:last-child {
    padding-right: 0;
  }

  .nav-menu {
    position: relative;
    flex-direction: row;
    display: flex;
    width: 70%;
    left: 0;
    top: 0;

    background-color: transparent;
  }

  .wrapper-color-switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
  }

  .nav-icon {
    visibility: hidden;
    height: 0;
    display: none;
  }

  .bawo {
    width: 50%;
  }
}
