.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 15px 0;
}

.my-3 {
  margin: 20px 0;
}

.my-4 {
  margin: 25px 0;
}

.my-3 {
  margin: 30px 0;
}

.my-4 {
  margin: 70px 0;
}

.py-1 {
  padding: 5px 0;
}

.py-2 {
  padding: 10px 0;
}

.px-1 {
  padding: 0 5px;
}

.px-2 {
  padding: 0 15px;
}

.px-3 {
  padding: 0 25px;
}

.md {
  font-size: 1.2rem;
}

.card {
  box-shadow: var(--shadow-1);
  cursor: pointer;

  margin: 50px 0;
}

.btn {
  border-bottom: 2px solid gray;
  padding: 1px;
  /* border-radius: 10px; */
  transition: all 1s;
}

.underline {
  text-decoration: underline;
}

.btn:hover {
  color: var(--gray-color);
  /* border-bottom: var(--button-color1); */
}

@media screen and (min-width: 870px) {
  .container {
    width: 60%;
  }

  .border-different {
    border: none;
  }

  .project-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-between; */
    gap: 30px;
  }

  .project-div-firstchild {
    padding-left: 20px;
  }

  .card {
    /* padding-right: 100px; */
    /* height: 300px; */
  }

  .card-container {
    display: flex;
    gap: 20px;
  }

  ul {
    display: flex;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .nav-link {
    padding-right: 10px;
    font-size: 1.5rem;
  }

  .nav-link:last-child {
    padding-right: 0;
  }

  .nav-menu {
    position: relative;
    flex-direction: row;
    display: flex;
    width: 70%;
    left: 0;
    top: 0;

    background-color: transparent;
  }

  .wrapper-color-switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
  }

  .nav-icon {
    visibility: hidden;
    height: 0;
    display: none;
  }

  .blog-flex {
    display: flex;
    justify-content: flex-end;
    gap: 200px;
    align-items: center;
  }

  .bawo {
    width: 50%;
  }

  .blog-img {
    display: none;
  }

  .blog-img-2 {
    display: flex;
  }

  .card-blog img {
    /* height: 240px; */
    width: 100%;
  }

  .image-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aos-card {
    width: 50%;
  }

  .andriod {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .nav-menu {
    border: none;
  }
}
