.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 15px 0;
}

.my-3 {
  margin: 20px 0;
}

.my-4 {
  margin: 25px 0;
}

.my-3 {
  margin: 30px 0;
}

.my-4 {
  margin: 70px 0;
}

.mx-1 {
  margin: 0 10px;
}

.mx-2 {
  margin: 0 15px;
}

.mx-2 {
  margin: 0 25px;
}

.py-1 {
  padding: 5px 0;
}

.py-2 {
  padding: 10px 0;
}

.py-3 {
  padding: 15px 0;
}

.py-4 {
  padding: 20px 0;
}

.py-5 {
  padding: 25px 0;
}

.px-1 {
  padding: 0 5px;
}

.px-2 {
  padding: 0 15px;
}

.px-3 {
  padding: 0 25px;
}

.md {
  font-size: 1rem;
}

.xl {
  font-size: 1.1rem;
}

.card {
  box-shadow: var(--shadow-1);
  cursor: pointer;

  margin: 50px 0;
}

.btn {
  border-bottom: 2px solid gray;
  padding: 1px;
  /* border-radius: 10px; */
  transition: all 1s;
}

.underline {
  text-decoration: underline;
}

.btn:hover {
  color: var(--gray-color);
  /* border-bottom: var(--button-color1); */
}

.form-content {
  position: relative;
}

.warning {
  margin: 0;
  padding: 0 0 30px 0;
  color: rgba(255, 0, 0, 0.696);
  opacity: 0;
  transition: all 0.5s ease-out;
  font-size: 0.7rem;
}

.thank-you-message {
  text-align: center;
  position: absolute;
  font-size: 0.7rem;
  top: 50%;
  bottom: 50%;
}

@media screen and (min-width: 1300px) {
  .color-switch {
    /* margin-top: 60px; */
  }

  .warning,
  .thank-you-message {
    font-size: 1.1rem;
  }

  .thank-you-message {
    width: 100%;
    bottom: 50%;
  }

  .sticky {
    left: 20%;
    right: 20%;
  }

  .img-description {
    width: 600px;
    height: 500px;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .flex-about {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .description-font {
    font-size: 21px;
    line-height: 1.9;
  }

  .navbar {
    margin-top: 20px;
    /* width: 100%; */
  }

  .container {
    width: 50%;
  }

  .border-different {
    border: none;
  }

  .project-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-between; */
    gap: 30px;
  }

  .project-div-firstchild {
    padding-left: 20px;
  }

  .card {
    /* padding-right: 100px; */
    /* height: 300px; */
  }

  .card-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  ul {
    display: flex;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .nav-link {
    padding-right: 10px;
    font-size: 1.5rem;
  }

  .nav-link:last-child {
    padding-right: 0;
  }

  .nav-menu {
    position: relative;
    flex-direction: row;
    display: flex;
    width: 70%;
    left: 0;
    top: 0;

    background-color: transparent;
  }

  .wrapper-color-switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
  }

  .nav-icon {
    visibility: hidden;
    height: 0;
    display: none;
  }

  .blog-flex {
    display: flex;
    justify-content: flex-end;
    gap: 200px;
    align-items: center;
  }

  .bawo {
    width: 70%;
  }

  .blog-img {
    display: none;
  }

  .blog-img-2 {
    display: flex;
  }

  .card-blog img {
    /* height: 240px; */
    width: 100%;
  }

  .image-card {
    width: 100%;
    height: 300px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aos-card {
    width: 50%;
  }

  .andriod {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .nav-menu {
    border: none;
  }

  .card-blog-container {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-blog {
    /* max-width: 500px; */
    /* height: 100%; */
    padding: 20px;
  }

  /* FORM */
  .field {
    padding: 0.5rem;
    font-size: inherit;
    /* margin-left: 15px; */
    /* margin-right: 10px; */
    transition: all 0.3s ease-out;
    font-family: inherit;
    width: 100%;
  }

  .btn-form {
    padding: 0.5rem;
    font-size: inherit;
    /* width: 30%; */
    background-color: var(--primary-text);
    border: 1px solid var(--white-text);
    color: var(--bgc-color);
    transition: all 0.3s ease-out;
    font-family: inherit;
    border: none;
  }

  .form-newletter-text {
    font-size: 15px;
  }
  .form-subtitle {
    font-size: 17px;
    padding: 20px 0;
  }

  .new-letter-bgc {
    padding: 80px 25px;
  }

  .form-subtitle__two {
    visibility: visible;
    height: 100%;
    display: inline-block;
  }

  .blog-container {
    margin: 10px 50px;
  }
}
